<h1>话题功能主页</h1>
<mat-divider style="margin: 2.5rem 0 2.5rem;"></mat-divider>
<h1>搜索</h1>


<mat-form-field>
    <input matInput placeholder="关键词" [(ngModel)]="wordModel">
</mat-form-field>

<button mat-raised-button color="accent" (click)="search(wordModel)">搜索</button>

<mat-divider style="margin: 2.5rem 0 2.5rem;"></mat-divider>

<h1>搜索结果</h1>

<mat-divider style="margin: 2.5rem 0 2.5rem;"></mat-divider>

<h2>话题</h2>
<app-topic-list [topics]="topics$|async"></app-topic-list>

<mat-divider style="margin: 2.5rem 0 2.5rem;"></mat-divider>

<h2>话题内容</h2>
<app-discussion-list [showLink]="true" [discussions]="discussions$|async"></app-discussion-list>