<mat-form-field>
    <input matInput placeholder="关键词" [(ngModel)]="wordModel">
</mat-form-field>

<button mat-raised-button color="accent" (click)="search(wordModel)">搜索</button>

<h2>话题</h2>
<app-topic-list [topics]="topics$|async"></app-topic-list>


<h2>话题内容</h2>

<div *ngFor="let discussion of discussions$|async">
    <mat-card style="margin-top: 2em; border-radius:2em;">
        <mat-card-title>
            {{discussion.user.nickname}}
        </mat-card-title>
        <mat-card-content>
            {{discussion.text}}
            <img *ngIf="discussion.imageUrl" [src]="discussion.imageUrl" style="max-width: 600px; max-height: 400px;">
        </mat-card-content>
    </mat-card>
</div>