<!-- 基本信息 -->
<div *ngIf="(topic$ |async) as topic">
    <h1> {{topic.name}} | <small> {{topic.isGroup?'小组':'话题'}}</small> </h1>
    <h2>
        <a class="aclean" [routerLink]="['/topic-profile',topic.id]">小组基本信息页</a>
    </h2>

    <h2>简介 </h2>
    <p>{{topic.description}}</p>
</div>

<mat-divider style="margin: 2.5rem 0 2.5rem;"></mat-divider>

<!-- Post list -->
<h1>帖子列表</h1>

<mat-paginator [length]="999" [pageSize]="20" (page)="onPageChange($event)"></mat-paginator>

<div *ngFor="let post of posts$|async">
    <mat-divider></mat-divider>

    <mat-card>
        <div style="padding-bottom: 1rem;">
            <mat-chip-list>
                <mat-chip *ngIf="post.isPinned" color="primary" selected>
                    <mat-icon>vertical_align_top</mat-icon>
                    置顶
                </mat-chip>
                <mat-chip *ngIf="post.isEssense" color="accent" selected>
                    <mat-icon>stars</mat-icon>
                    精华
                </mat-chip>
            </mat-chip-list>
        </div>
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/post-view',post.id]" style="text-decoration: none;"> {{post.title}}</a>
            </mat-card-title>
            <mat-card-subtitle>
                @{{post.user.nickname}}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="overf" style="-webkit-line-clamp: 4;">
                {{post.text}}
            </div>
            <!-- <img *ngIf="post.image" [src]="post.image" style="max-width: 600px; max-height: 400px;"> -->
        </mat-card-content>

        <mat-card-actions>

            <ng-container *ngIf="(member$|async) as member">
                <ng-container *ngIf="member.role=='Admin'||member.role=='Super'">

                    <button *ngIf="!post.isPinned" mat-button color="primary"
                        (click)="setPinned(post.id,true)">置顶</button>

                    <button *ngIf="post.isPinned" mat-button color="accent"
                        (click)="setPinned(post.id,false)">取消置顶</button>


                    <button *ngIf="!post.isEssense" mat-button color="primary"
                        (click)="setEssence(post.id,true)">设为精华</button>

                    <button *ngIf="post.isEssense" mat-button color="primary"
                        (click)="setEssence(post.id,false)">取消精华</button>


                    <button mat-button color="primary" (click)="setRemove(post.id,true)">删帖</button>
                </ng-container>
            </ng-container>

        </mat-card-actions>
    </mat-card>
</div>

<mat-divider style="margin: 2.5rem 0 2.5rem;"></mat-divider>

<h1>发帖</h1>

<form [formGroup]="sendPostForm" (submit)="sendPost(sendPostForm.value)">
    <mat-form-field class="full-width">
        <input matInput placeholder="帖子标题" formControlName="title">
        <mat-error>{{hinter.hint(sendPostForm.get('title'))}}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <textarea rows="6" matInput placeholder="正文" formControlName="text"></textarea>
        <mat-error>{{hinter.hint(sendPostForm.get('text'))}}</mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="accent" [disabled]="sendPostForm.invalid">发送帖子</button>

</form>