<!-- Work description area -->
<div *ngIf="(work$|async) as work">
    <h1>
        {{work.name}} <small>{{work.author}}</small>
    </h1>

    <h2>
        <mat-icon *ngIf="work.type=='Book'">menu_book</mat-icon>
        <mat-icon *ngIf="work.type=='Film'">videocam</mat-icon>
        {{work.type|workType}}
    </h2>

    <img [src]="work.coverUrl" style="width: 250px;">


    <h2>简介</h2>
    <p>{{work.description}}</p>
    
    <a style="text-decoration: none;" [routerLink]="['/create-topic']" [queryParams]="{workId:work.id}">创建关于 <strong> {{work.name}} </strong> 话题或小组</a>
</div>

<mat-divider style="margin-bottom: 2.5rem;"></mat-divider>

<!-- Work's comment area -->
<app-comment [workId$]=" workId$">
</app-comment>

<mat-divider style="margin: 2.5rem 0 8rem;"></mat-divider>

<!-- Related topics -->
<h1>相关话题</h1>
<app-topic-list [topics]="relatedTopics$|async"></app-topic-list>

<mat-divider style="margin: 2.5rem 0 3rem;"></mat-divider>


<h1>相关小组</h1>
<app-topic-list [topics]="relatedGroups$|async"></app-topic-list>
