<div *ngFor="let post of posts$|async">
    <mat-card style="margin-top: 2em; border-radius:2em;">
        <mat-card-title>
            {{post.user.nickname}}
        </mat-card-title>
        <mat-card-content>
            {{post.text}}
            <img *ngIf="post.image" [src]="post.image" style="max-width: 600px; max-height: 400px;">
        </mat-card-content>
    </mat-card>
</div>

<form [formGroup]="postForm" #postform0>

    <div style="display: flex; flex-direction: column;">
        <mat-form-field>
            <!-- <input matInput type="text"> -->
            <textarea matInput placeholder="请输入文字" formControlName="text" required></textarea>
        </mat-form-field>

        <input type="file" accept="image/*" (change)="onFileChange($event)">
    </div>

    <button mat-flat-button color="primary" (click)="sendPost()">发送</button>

</form>