<mat-form-field>
    <input matInput placeholder="关键词" [(ngModel)]="wordModel">
</mat-form-field>

<button mat-raised-button color="accent" (click)="search(wordModel)">搜索</button>

<h2>小组</h2>
<app-topic-list [topics]="topics$|async"></app-topic-list>


<h2>帖子</h2>
<app-post-list [posts]="posts$|async"></app-post-list>

reply
<h2>回复</h2>
<div *ngFor="let reply of replies$|async">
    <mat-card style="margin-top: 2em; border-radius:2em;">
        <mat-card-title>
            {{reply.user.nickname}}
        </mat-card-title>
        <mat-card-content>
            {{reply.text}}
        </mat-card-content>
    </mat-card>
</div>