<mat-form-field>
    <input matInput placeholder="关键词" [(ngModel)]="wordModel">
</mat-form-field>

<button mat-raised-button color="accent" (click)="search(wordModel)">搜索</button>

<mat-divider style="margin: 2.5rem 0 2.5rem;"></mat-divider>

<h2>小组</h2>
<app-topic-list [topics]="topics$|async"></app-topic-list>

<mat-divider style="margin: 2.5rem 0 2.5rem;"></mat-divider>


<h2>帖子</h2>
<app-post-list [posts]="posts$|async" [member]="null" [showActions]="false"></app-post-list>

<mat-divider style="margin: 2.5rem 0 2.5rem;"></mat-divider>


<h2>回复</h2>
<div *ngFor="let reply of replies$|async">
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{reply.user.nickname}}
            </mat-card-title>
            <mat-card-subtitle>
                <a [routerLink]="['/post-view',reply.postId]" style="text-decoration: none;">来源帖子</a>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            {{reply.text}}
        </mat-card-content>
    </mat-card>
</div>