<div *ngIf="(topic$|async) as topic">
    <h2> 名称: {{topic.name}} </h2>
    <h3> 简介：{{topic.description}} </h3>
    <h3> 成员数量：{{topic.memberCount}} </h3>
    <h3 *ngIf="topic.relatedWork"> 相关作品：{{topic.relatedWork}} </h3>


    <div *ngIf="(membership$|async) as member">
        你是成员。

        <div *ngIf="member.role=='Normal' && topic.isGroup">
            <button mat-raised-button (click)="sendBeAdminRequest(topic.id)">成为小组管理员</button>
        </div>
    </div>

    <!-- Not a member or not logged in -->
    <div *ngIf="(membership$|async) == null">

        <!-- Logged in but not a member -->
        <ng-container *ngIf="(this.auth.me$|async)!=null">
            <button mat-flat-button color="accent" (click)="joinTopic(topic.id)">加入</button>
        </ng-container>

    </div>

    <!-- Requests -->
    <div *ngIf="(membership$|async) as member">
        <div *ngIf="member.role=='Super' ">
            <div *ngFor="let request of requests$|async">
                用户Id: {{request.user.id}},
                用户昵称: {{request.user.nickname}}
                <button mat-raised-button (click)="handleAdminRequest(request.id,true)">同意</button>
                <button mat-raised-button (click)="handleAdminRequest(request.id,false)">拒绝</button>
            </div>
        </div>
    </div>

</div>