<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>书籍影视交流平台</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining"></span>


    <ng-container *ngIf="(auth.me$|async)==null">
      <a mat-button [routerLink]="['/register']">注册</a>
      <button mat-button (click)="auth.showLoginDialog()">登录</button>
    </ng-container>
    <span *ngIf="(auth.me$|async) as me">你好，{{me.nickname}} </span>
  </mat-toolbar-row>

</mat-toolbar>

<div style="display: flex; justify-content: center;">
  <div class="xcontainer">
    <router-outlet></router-outlet>
  </div>
</div>