<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/home">书籍影视交流平台</a>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining"></span>


    <ng-container *ngIf="(auth.me$|async)==null">
      <a mat-button [routerLink]="['/register']">注册</a>
      <button mat-button (click)="auth.showLoginDialog()">登录</button>
    </ng-container>

    <a mat-button [routerLink]="['/work-home']" [queryParams]="{workType:'Book'}">书籍</a>
    <a mat-button [routerLink]="['/work-home']" [queryParams]="{workType:'Film'}">影视</a>

    <a mat-button routerLink="/discuss-home">话题</a>
    <a mat-button routerLink="/group-home">小组</a>

    <a mat-button routerLink="/create-topic">创建话题/小组</a>


    <ng-container *ngIf="(auth.me$|async) as me">
      <span>你好，{{me.nickname}} </span>
    </ng-container>
  </mat-toolbar-row>

</mat-toolbar>

<div style="display: flex; justify-content: center;">
  <div class="xcontainer">
    <router-outlet></router-outlet>
  </div>
</div>