<div *ngIf="(topic$|async) as topic">
    <h1> {{topic.name}} </h1>
    <h2> {{topic.description}} </h2>
    <h3 style="display: flex">
        <mat-icon>person</mat-icon> {{topic.memberCount}}
    </h3>
</div>

<h2>讨论列表</h2>

<app-discussion-list [discussions]="discussions$|async"></app-discussion-list>

<form [formGroup]="discussForm">

    <div style="display: flex; flex-direction: column;">
        <mat-form-field>
            <textarea matInput placeholder="请输入文字" formControlName="text" required></textarea>
        </mat-form-field>
    </div>

    <input type="file" accept="image/*" (change)="onFileChange($event)">

    <button mat-flat-button color="primary" (click)="sendPost(discussForm.value)">发送</button>

</form>