<div *ngIf="(topic$|async) as topic">
    <h1> {{topic.name}} | <small> {{topic.isGroup?'小组':'话题'}}</small> </h1>
    <h2>
        <a class="aclean" [routerLink]="['/topic-profile',topic.id]">话题基本信息页</a>
    </h2>

    <h2> 简介 </h2>
    <p>{{topic.description}}</p>
</div>

<mat-divider style="margin:2.5rem 0 2.5rem"></mat-divider>

<h2>讨论列表</h2>

<!-- 分页器 -->
<mat-paginator [length]="999" [pageSize]="20" (page)="onPageChange($event)"></mat-paginator>

<app-discussion-list [discussions]="discussions$|async"></app-discussion-list>

<mat-divider style="margin:2.5rem 0 2.5rem"></mat-divider>

<h1>发送讨论</h1>
<!-- 发送讨论 -->
<form [formGroup]="discussForm">

    <div style="display: flex; flex-direction: column;">
        <mat-form-field>
            <textarea matInput placeholder="请输入文字" formControlName="text" required></textarea>
        </mat-form-field>
    </div>

    <div style="margin-bottom: 0.5rem;">
        <mat-label style="margin-right: 2rem;">图片</mat-label>
        <input type="file" accept="image/*" (change)="onFileChange($event)" [(ngModel)]="imgModel"
            [ngModelOptions]="{standalone: true}">
    </div>

    <div>
        <button mat-flat-button color="primary" (click)="sendPost(discussForm.value)">发送</button>
    </div>
</form>