<!-- 0楼 -->
<mat-card *ngIf="(post$|async) as post" style="background-color: lightblue;">
    <div style="padding-bottom: 1rem;">
        <mat-chip-list>
            <mat-chip *ngIf="post.isPinned" color="primary" selected>
                <mat-icon>vertical_align_top</mat-icon>
                置顶
            </mat-chip>
            <mat-chip *ngIf="post.isEssense" color="accent" selected>
                <mat-icon>stars</mat-icon>
                精华
            </mat-chip>
        </mat-chip-list>
    </div>
    <mat-card-header>
        <mat-card-title>
            {{post.title}}
        </mat-card-title>
        <mat-card-subtitle>
            @{{post.user.nickname}}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div>
            {{post.text}}
        </div>
    </mat-card-content>
</mat-card>

<mat-divider style="margin: 2.5rem 0 2.5rem;"></mat-divider>

<h1>回复列表</h1>
<mat-paginator [length]="999" [pageSize]="20" (page)="onPageChange($event)"></mat-paginator>

<!-- Replies -->
<div *ngFor="let reply of replies$|async">
    <mat-divider></mat-divider>

    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>
                @{{reply.user.nickname}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{reply.text}}
        </mat-card-content>
    </mat-card>

</div>

<!-- 发表回复 -->

<mat-divider style="margin: 2.5rem 0 2.5rem;"></mat-divider>

<h1>发表回复</h1>

<form [formGroup]="replyFrom" (submit)="sendReply(replyFrom.value)">

    <mat-form-field class="full-width">
        <input matInput placeholder="文字" formControlName="text" autocomplete="off">
        <mat-error> {{hinter.hint(replyFrom.get('text'))}} </mat-error>
    </mat-form-field>

    <div class="text-center">
        <button mat-raised-button color="accent" [disabled]="replyFrom.invalid">回复</button>
    </div>
</form>