/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fill-remaining {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.test {
    margin-top: 1rem;
}

.overf {
    display: -webkit-box !important;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

// // bootstrap4 partial
// h1, h2, h3, h4, h5, h6 {
//     margin-top: 0;
//     margin-bottom: .5rem
// }

// p {
//     margin-top: 0;
//     margin-bottom: 1rem
// }

// .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
//     margin-bottom: .5rem;
//     font-weight: 500;
//     line-height: 1.2
// }

// .h1, h1 {
//     font-size: 2.5rem
// }

// .h2, h2 {
//     font-size: 2rem
// }

// .h3, h3 {
//     font-size: 1.75rem
// }

// .h4, h4 {
//     font-size: 1.5rem
// }

// .h5, h5 {
//     font-size: 1.25rem
// }

// .h6, h6 {
//     font-size: 1rem
// }

// h2, h3, p {
//     orphans: 3;
//     widows: 3
// }
// h2, h3 {
//     page-break-after: avoid
// }
