<h1>Home</h1>

<!-- 热点信息模块==================== -->

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="热门书籍">
        <app-work-list [works]="hotBooks$|async"></app-work-list>
    </mat-tab>

    <mat-tab label="热门影视">
        <app-work-list [works]="hotFilms$|async"></app-work-list>
    </mat-tab>

    <mat-tab label="热门评论">
        <div *ngFor="let comment of hotComments$ | async">
            <mat-card style="margin-top: 2em; border-radius:2em;">
                <mat-card-title>{{comment.user.nickname}}</mat-card-title>
                <mat-card-content>
                    <!-- Rating Stars -->
                    <div>
                        <ng-container *ngFor="let k of genlist(comment.rating)">
                            <mat-icon color="accent">star</mat-icon>
                        </ng-container>
                    </div>
                    {{comment.text}}
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab [label]="'热门话题'">
        <app-topic-list [topics]="hotTopics$|async"></app-topic-list>
    </mat-tab>
</mat-tab-group>


<!-- 热门话题 -->
<h2>热门话题</h2>


<hr>


<!-- 搜索功能======================= -->

<mat-form-field>
    <input matInput placeholder="关键词" [(ngModel)]="wordInput">
</mat-form-field>

<button mat-raised-button color="accent" (click)="goSearch(wordInput)">搜索</button>

<h2>书籍</h2>
<app-work-list [works]="books$|async"></app-work-list>

<h2>影视</h2>
<app-work-list [works]="films$|async"></app-work-list>

<hr>

<h2>话题</h2>
<app-topic-list [topics]="topics$|async"></app-topic-list>

<h2>话题讨论</h2>
<app-discussion-list [discussions]="discussions$|async"></app-discussion-list>

<hr>

<h2>小组</h2>
<app-topic-list [topics]="groups$|async"></app-topic-list>

<h2>小组帖子</h2>
<app-post-list [posts]="posts$|async"></app-post-list>