<h1>Home</h1>

<!-- 热点信息模块==================== -->

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="热门书籍">
        <div style="height: calc(70vh); overflow-y: scroll;">
            <app-work-list [works]="hotBooks$|async"></app-work-list>
        </div>
    </mat-tab>

    <mat-tab label="热门影视">
        <div style="height: calc(70vh); overflow-y: scroll;">
            <app-work-list [works]="hotFilms$|async"></app-work-list>
        </div>
    </mat-tab>

    <mat-tab label="热门评论">
        <div style="height: calc(70vh); overflow-y: scroll;">

            <div *ngFor="let comment of hotComments$ | async" style="display: flex; justify-content: center;">

                <mat-card style="margin: 0.2rem; margin-bottom: 0.8rem; border-radius:2rem; width: 600px;">
                    <mat-card-header>
                        <mat-card-title>
                            作品：
                            <a style="text-decoration: none;" [routerLink]="['/work',comment.work.id]">
                                {{comment.work.name}} </a>

                        </mat-card-title>
                        <mat-card-subtitle> 评论者：{{comment.user.nickname}} </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <!-- Rating Stars -->
                        <div>
                            <ng-container *ngFor="let k of genlist(comment.rating)">
                                <mat-icon color="accent">star</mat-icon>
                            </ng-container>
                        </div>
                        <div class="overf" style="-webkit-line-clamp: 4;">
                            {{comment.text}}
                        </div>

                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
    </mat-tab>

    <mat-tab [label]="'热门话题'">
        <div style="height: calc(70vh); overflow-y: scroll;  display: flex; justify-content: center;">
            <app-topic-list style="width: 80%;" [topics]="hotTopics$|async"></app-topic-list>
        </div>
    </mat-tab>
</mat-tab-group>


<mat-divider style="margin:3rem 0 3rem"></mat-divider>


<!-- 搜索功能======================= -->

<h1>搜索</h1>

<mat-form-field>
    <input matInput placeholder="关键词" [(ngModel)]="wordInput">
</mat-form-field>

<button mat-raised-button color="accent" (click)="goSearch(wordInput)">搜索</button>

<h2>搜索结果</h2>

<mat-tab-group mat-align-tabs="center">

    <mat-tab label="书籍">
        <app-work-list [works]="books$|async"></app-work-list>
    </mat-tab>

    <mat-tab label="影视">
        <app-work-list [works]="films$|async"></app-work-list>
    </mat-tab>


    <mat-tab label="话题">
        <div style="height: calc(70vh); overflow-y: scroll;  display: flex; justify-content: center;">
            <app-topic-list style="width: 70%;" [topics]="topics$|async"></app-topic-list>
        </div>
    </mat-tab>

    <mat-tab label="话题讨论">
        <app-discussion-list [showLink]="true" [discussions]="discussions$|async"></app-discussion-list>
    </mat-tab>


    <mat-tab label="小组">
        <app-topic-list [topics]="groups$|async"></app-topic-list>
    </mat-tab>

    <mat-tab label="小组帖子">
        <app-post-list [posts]="posts$|async"></app-post-list>
    </mat-tab>
</mat-tab-group>