<!-- Comment List -->

<!-- User leave comment -->
<h2>发表评论</h2>
<div *ngIf="this.auth.me$ | async">
    <form [formGroup]="commentForm" (ngSubmit)="createComment(commentForm.value)">
        <div>
            <mat-label style="margin-right: 2rem;">评分</mat-label>
            <mat-slider thumbLabel [displayWith]="rawValue" [step]="1" min="1" max="5" formControlName="rating">
            </mat-slider>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="评论标题" autocomplete="off" formControlName="title">
                <mat-error> {{ hinter.hint(commentForm.get('title')) }} </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 500px;">
                <textarea matInput rows="6" placeholder="评论正文" formControlName="text"  ></textarea>
                <mat-error> {{ hinter.hint(commentForm.get('text')) }} </mat-error>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="accent" type="submit" [disabled]="commentForm.invalid">发送</button>
        </div>
    </form>
</div>
<p *ngIf="(this.auth.me$ | async)==null">
    需要登录才能发表评论
</p>

<mat-divider style="margin:0.5rem 0 2.5rem"></mat-divider>


<h2 style="margin-top: 3rem;">评论列表</h2>

<div style="display: flex; justify-content: flex-end; flex-direction: row;">
    <mat-paginator [length]="999" [pageSize]="20" (page)="onPageChange($event)"></mat-paginator>
    <button mat-flat-button color="primary" (click)="switchOrderType()">{{orderType | orderType}}</button>
</div>


<div *ngFor="let comment of comments$ | async">
    <mat-divider></mat-divider>

    <mat-card style="_margin-top: 0.2rem; _border-radius:2rem; border-color: slategray; padding-bottom: 0;">
        <mat-card-header>
            <mat-card-title>
                {{comment.title}}
                <ng-container *ngFor="let k of genlist(comment.rating)">
                    <mat-icon color="accent">star</mat-icon>
                </ng-container>
            </mat-card-title>
            <mat-card-subtitle>
                @{{comment.user.nickname}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{comment.text}}

            <div>
                <!-- Attitude -->
                <button mat-icon-button (click)="expressAttitude(comment,true);">
                    <mat-icon [color]="comment.myAttitude==true?'accent':''">thumb_up</mat-icon>
                </button>
                <span style="padding-right: 1rem;">
                    {{comment.agreeCount}}
                </span>

                <button mat-icon-button (click)="expressAttitude(comment,false)">
                    <mat-icon [color]="comment.myAttitude==false?'accent':''">thumb_down</mat-icon>
                </button>
                <span style="padding-right: 2rem;">
                    {{comment.disagreeCount}}
                </span>
                <!-- Report -->
                <button mat-icon-button (click)="openReportDialog(comment.id)">
                    <mat-icon color="primary">report</mat-icon>
                </button>
            </div>
        </mat-card-content>



    </mat-card>
</div>