<!-- Comment List -->

<button mat-flat-button color="primary" (click)="switchOrderType()" >{{orderType}}</button>

<div *ngFor="let comment of comments$ | async">
    <mat-card style="margin-top: 2em; border-radius:2em;">
        <mat-card-title>{{comment.user.nickname}}</mat-card-title>
        <mat-card-content>
            <!-- Rating Stars -->
            <div>
                <ng-container *ngFor="let k of genlist(comment.rating)">
                    <mat-icon color="accent">star</mat-icon>
                </ng-container>
            </div>
            {{comment.text}}
        </mat-card-content>
        <mat-card-actions>

            <!-- Attitude -->
            <button mat-icon-button (click)="expressAttitude(comment,true);">
                <mat-icon [color]="comment.myAttitude==true?'accent':''">thumb_up</mat-icon>
            </button>
            <span style="padding-right: 2em;">
                {{comment.agreeCount}}
            </span>

            <button mat-icon-button (click)="expressAttitude(comment,false)">
                <mat-icon [color]="comment.myAttitude==false?'accent':''">thumb_down</mat-icon>
            </button>
            {{comment.disagreeCount}}
        </mat-card-actions>
    </mat-card>
</div>

<!-- User leave comment -->
<div *ngIf="this.auth.me$ | async">
    <form [formGroup]="commentForm" (ngSubmit)="createComment()">
        <formly-form [form]="commentForm" [fields]="commentFields" [model]="commemtModel"></formly-form>
        <button mat-raised-button color="accent" type="submit" [disabled]="commentForm.invalid">发送</button>
    </form>
</div>