<div *ngFor="let comment of comments$ | async">
    <mat-card style="margin-top: 2em; border-radius:2em;">
        <mat-card-title>{{comment.user.nickname}}</mat-card-title>
        <mat-card-content>{{comment.text}}</mat-card-content>
        <mat-card-actions>
            <button mat-icon-button>
                <mat-icon color="accent">thumb_up</mat-icon>
            </button>
            <span style="padding-right: 2em;">
                {{comment.agreeCount+1025}}
            </span>

            <button mat-icon-button>
                <mat-icon>thumb_down</mat-icon>
            </button>
            {{comment.disagreeCount}}
        </mat-card-actions>
    </mat-card>
</div>